font-family: 'Montserrat', sans-serif;

body {
  /* Show it's not fixed to the top */
  min-height: 75rem;
  padding-top: 6rem;
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  min-width: 100%;
  height: 350px;
  background-image: url(../public/diagmonds_.png);
}

.header img {
  width: 100px;
}

.body {
  padding-left: 50px;
  padding-right: 50px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
